.container {
  padding: 2px 16px;
  margin-bottom: 40px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: stretch;
  width: 100vw;
}

.post-container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 44px;
}
