<div style="margin-left: auto; margin-right: auto">
  <p id="profileFeedback"></p>
</div>
<div class="register-container">
  <h1>Profile</h1>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="updateUser()"
    class="register-form"
    [@fadeInOut]
  >
    <mat-form-field appearance="fill" class="input">
      <mat-label>Name</mat-label>
      <input matInput type="text" [formControl]="name" />
      <mat-error
        *ngIf="name.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="name.errors.required">Name is required</div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 5 characters long.
        </div>
        <div *ngIf="name.errors.maxlength">
          Name can be max 25 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Surname1</mat-label>
      <input matInput type="text" [formControl]="surname_1" />
      <mat-error
        *ngIf="surname_1.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="surname_1.errors.required">Surname1 is required</div>
        <div *ngIf="surname_1.errors.minlength">
          Surname1 must be at least 5 characters long.
        </div>
        <div *ngIf="surname_1.errors.maxlength">
          Surname1 can be max 25 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Surname2</mat-label>
      <input matInput type="text" [formControl]="surname_2" />
      <mat-error
        *ngIf="surname_2.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="surname_2.errors.minlength">
          Surname2 must be at least 5 characters long.
        </div>
        <div *ngIf="surname_2.errors.maxlength">
          Surname2 can be max 25 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Alias</mat-label>
      <input matInput type="text" [formControl]="alias" />
      <mat-error
        *ngIf="alias.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="alias.errors.required">Alias is required</div>
        <div *ngIf="alias.errors.minlength">
          Alias must be at least 5 characters long.
        </div>
        <div *ngIf="alias.errors.maxlength">
          Alias can be max 25 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Birth date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        type="text"
        [formControl]="birth_date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="birth_date.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="birth_date.errors.required">Birth date is required</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="email" />
      <mat-error
        *ngIf="email.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.pattern">Email not a valid format.</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="password" />
      <mat-error
        *ngIf="password.errors && isValidForm != null && !isValidForm"
        class="error-message"
      >
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 8 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update User</button>
  </form>
</div>
